body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051
}

.logo{
	color: #fff;
	font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
	float: left;
	padding-left: 432px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat , url(../img/фон.jpg) center/cover no-repeat;
}

.titel_container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.titel_container h1{
	font-size: 60px;
	font-weight: bold;
}

.titel_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.titel_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 14px 0px 14px;
}

.obo_mne h2{
	color: #2c384a;
	font-size: 35px;
    margin-top: 110px;
    padding-left: 896px;
    text-transform: uppercase;
    font-weight: bold;
}

.obo_mne>img{
	padding-left: 926px;
	margin-top: 31px; 
}

.obo_mne div{
	padding-left: 860px;
	margin-top: 60px;
}

.obo_mne p{
	margin-top: 25px;
	margin-left: 596px;
	margin-right: 596px; 
	font-size: 16px;
	text-align: left;
	color: #3f495a;
}

.obo_mne__button{
	border-radius: 5px;
    border: 2px solid #6d7682;
	color: #6f707e;
	margin-left: 886px;
	margin-top: 35px;
	padding: 10px 10px 10px 5px;
}

.chto_ymeu{
	width: 100%;
	height: 520px;
	background: url("../img/картинка фона.jpg");
}

.chto_ymeu h2{
	color: #2c384a;
	font-size: 35px;
    padding-top: 110px;
    padding-left: 874px;
    text-transform: uppercase;
    font-weight: bold;
}

.chto_ymeu>img{
	padding-left: 926px;
	margin-top: 31px;
}

.chto_ymeu div{
	float: left;
}

.web img{
	margin: 110px 239px 35px 495px;
}

.web h4{
	font-size: 22px;
	color: #cf7600;
	margin: 0px 0px 8px 475px;
}

.web p{
	color: #3f495a;
	text-shadow: 420px;
	text-align: center;
}

.razrab img{
	margin: 70px 239px 35px 0px;
}

.razrab h4{
	font-size: 22px;
	color: #cf7600;
	padding: 0px 0px 8px 202px;
}

.razrab p{
	color: #3f495a;
	text-shadow: 83px;
	text-align: center
}